.reason-wrapper {
  background: $no-color url('../../assets/3-Columns-Background.png');
  //background-color: $color-yellow;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;

    @include notebook {
      flex-direction: row;
    }

    .reason-column {
      @include notebook {
        margin-bottom: 86px;
      }

      .reason-column_number {
        margin-top: 46px;
        font-size: 5em;
        line-height: 7.6rem;
        font-weight: 300;
      }

      .reason-column_head {
        line-height: 30px;
        letter-spacing: -0.36px;
        margin-top: 10px;
        margin-bottom: 28px;
      }

      .reason-column_text {
        max-width: 335px;
        font-size: $main-font-size - 2;
        font-weight: 300;
        letter-spacing: -0.32px;
      }
    }

    .reason-column:last-child {
      margin-bottom: 86px;
    }
  }
}

.easySteps-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .easySteps-text {
    text-align: center;
    font-size: $bigger-font-size + 2;
    line-height: 55px;
    letter-spacing: -0.76px;
    margin-top: 20px;

    @include notebook {
      margin-top: 55px;
    }
  }

  .decoration_image {
    margin-bottom: 26px;
  }

  .easySteps-columns {
    background-color: $color-light;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .easySteps-columns_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;

      @include notebook {
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
      }

      .easySteps-column:first-of-type {
        padding-top: 30px;

        @include notebook {
          padding: 73px 0 80px 0;
        }
      }

      .easySteps-column {
        padding-bottom: 30px;
        max-width: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include notebook {
          padding: 73px 0 80px 0;
        }
      }

      .easySteps-column_image {
        width: 83px;
        height: 83px;
        margin-bottom: 8px;
      }

      .easySteps-column_head {
        line-height: 14px;
      }

      .easySteps-column_line {
        width: 70px;
        height: 1px;
        border-bottom: 1px solid #707070;
        margin: 11px 0;
      }

      .easySteps-column_text {
        font-size: $main-font-size -2;
        line-height: 16px;
      }
    }
  }

  .button-big {
    margin-bottom: 80px;
  }
}
