.home-nav {
  .navbar {
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .nav-item {
    display: flex;
    align-items: center;
    //height: 2 * $main-font-size;

    &.mobile {
      display: inherit;
      width: 50%;

      @include tablet-max {
        display: none;
      }
    }
  }

  .mobile-wrapper.logged {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-wrapper {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-links {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 0.75px solid transparent;
    cursor: pointer;

    &:hover {
      border: 0.75px solid $color-dark;
      transition: all 0.2s ease-out;
    }

    &.small {
      font-size: $main-font-size + 5;
    }
  }

  .fa-bars {
  }

  .menu-icon {
    display: none;
  }

  @include max-tablet {
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1000;
      background-color: rgba(240, 241, 241, .9);
    }

    .nav-links {
      font-size: 1.5 * $main-font-size;
      text-align: center;
      width: 100%;
      display: table;
      padding: 1em 0;
    }

    .nav-links:hover {
      color: orange;
    }

    .menu-icon {
      margin-top: 20px;
      display: block;
      transform: translate(-100%, 0%);
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 10000;
    }
  }
}
