.home-log {
  margin-top: 2.556em;
  text-align: center;
  display: none;

  @include tablet-max {
    display: inherit;
    text-align: right;
  }

  span {
    color: $color-gray;
    font-size: $main-font-size - 4;
  }
}
