.button {
  display: inline-block;
  padding: 10px;
  letter-spacing: 0;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

.button-small {
  @extend .button;
  font-size: $main-font-size - 4;
  border: 0.75px solid transparent;

  &:hover {
    border: 0.75px solid $color-yellow;
  }
}
