* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  color: $color-dark;
  font-family: $font-base;
  font-weight: 400;
  font-size: $main-font-size;

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    max-width: $desktop-width;
    margin: 0 auto;
  }

  #contact {
    height: 100vh;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
